.site__title{
    display: flex;
    justify-content: center;
    a{
        text-decoration: none;
    }


}

// .site__description{

// }

.site__branding{
    p{  
        display: flex;
        justify-content: center;
    }
}

.custom-logo{
    border-radius: 50%;
    margin: 1rem 0rem 0rem 1rem ;
}