.site__menu{
    position:relative;
}

.chk-burger{
    display: none;
}
.chk-burger:checked ~ .burger{
    transform: rotate(180deg);
}

.chk-burger:checked ~ .menu__aside{
     transform: translateX(0);
     transform: translateX(-100vw);
     transition: transform 1.5s;
}


.burger{
    position: absolute;
    width : 2rem;
    height : 2rem;
    top: 20px;
    margin-left: 1.45rem;
    transform: rotate(0deg);
    transition: transform 1.5s;
    font-size: 1.5rem;

}

.site__menu h2{
    display:flex;
    justify-content: center;
    text-decoration: underline;
  }

.menu__aside{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100vw;
    transform: translateX(-100vw);
    transition: transform 1.5s;
    @media screen and (min-width: 700px) {
        position: static;
        transform: translateX(0);
        width: 100%;
    }

    //ul
    .menu{
        list-style-type: none;
        padding: 0;
        margin: 0;
        
    }
    //li
    .menu-item{
        border-radius: 10px;
        padding: 5px;
        margin: 3px;
        background-color: $color__background-aside;
        }
    
}

.sidebar-aside {
    display: flex;
    justify-content: center;

}

.wp-block-calendar table{
    width: 75%;
    margin-left: 2.5rem;
    margin-top: 2.5rem;
    border-color: black;
    caption{
        font-size: 1.5rem;
        color: black;
        text-decoration: underline;
        padding-bottom: .5rem ;
    }
    tbody{
        background-color: $color__background-nav;
    }
    tr{
        font-size: 1rem;
    }
}

.widget_search{
    margin-top: 1rem;
}